
@import "tailwindcss";

#root {
  @apply max-w-[1280px] mx-auto p-8 text-center bg-white;
}

body {
  @apply bg-white;
}

.logo {
  @apply h-24 p-6;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

button {
  @apply border-[#487aa0] text-[#487aa0] font-bold border-2 bg-white rounded-lg px-4 py-2;
}
button:hover {
  @apply bg-[#597d97] border-[#597d97] text-white;
}

button:active {
	@apply bg-white;
}

table {
	@apply border-[ED1C24] rounded-2xl;
}

th ,td {
	@apply border-2 border-[#487aa0];
}

td:hover,
th:hover {
	@apply border-[#ED1C24] text-[#487aa0];
}

dt {
	@apply text-[#ED1C24];
}

dd {
	@apply text-[#487aa0];
}

.no-hover tr:hover,
.no-hover td:hover,
.no-hover th:hover {
	@apply border-[#487aa0] text-[#333333];
}

.header {
  @apply text-[#333333];
}
.text-main {
  @apply text-[#4B4B4B];
}

.text-ascom-red {
  @apply text-[#ED1C24];
}
.bg-ascom-red {
  @apply bg-[#ED1C24];
}
